/* shared items */

* {
    margin: 0;

    font-family: "Poppins", serif;

}





/* for header section styles */

nav {
    display: flex;
    justify-content: space-between;
    margin: 80px 120px;
}

.nav-title {
    font-size: 1.5rem;
    color: #3A3A3A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 1.9rem;

}

nav a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600
}

/* banner styles */

.banner-container {
    display: flex;
    align-items: center;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right, bottom;
    margin: 0 120px;
    padding: 30px 20px;
    /* height: 475px; */
}

.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-description {
    color: #3A3A3A;
    margin: 20px 0;
}

.btn-primary {
    background-color: #E02C6D;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}


/* sponsor section start */

.sponsor-img {
    max-width: 1100px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: 1px solid #c4b9b9;
    border-bottom: 1px solid #c4b9b9;
    padding: 20px;
}

/* popular section styles start*/

.popular {
    margin-bottom: 100px;
}

.popular>h2 {
    margin: 50px;
    text-align: center;
}

.popular-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 200px;
    gap: 27px;

}

.popular-container .card {
    border-radius: 5px;
    padding: 20px 15px;
    /* text-align: left; */
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 1.75rem;
    color: #18191F;
    margin: 5px 0;
    font-weight: 500;
}

.card .price {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #000000;
}

.card .card-des {
    color: #787885;
    font-weight: 700;
}

.seemore {
    /* align-items: end; */
    margin-right: 200px;
    margin-top: 50px;
}

.see-more {
    text-align: end;
    color: #E02C6D;
    font-weight: 700;
}

/* feature section start */

.feature{
    display: flex;
    margin: auto;
    max-width: 1200px;
    gap: 80px;
    align-items: center;
}

.feature-title{
    font-size: 2.25rem;
}

.feature-des{
    margin: 20px 0;
    color: #6C6C6C;
}

.btn-second{
    background-color:#E02C6D ;
    color: #FFF;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
}

/* footer section styles start */

footer{
    background-color: #0A0826;
    margin-top: 70px;
    text-align: center;
}

.footer{
    color: #FFF;
}

.footer-title{
    padding: 60px 0 10px 0;
   
}

.footer-sec-des{
    margin-bottom: 20px;
}

.footer-img{
    display: flex;
    justify-content: center;
    gap: 30px;
   padding-bottom: 60px;
}


/* Responsive for small device */

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        margin: 0;
        text-align: center;
        margin-bottom: 30px;
    }

    .nav-title {
        margin: 50px 0 20px 0;
        /* font-size: 1.74rem; */
    }

    nav>ul {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    nav li {
        margin: 0;
    }

    .banner-container {
        flex-direction: column-reverse;
        /* background-image: none; */
        /* padding: 0 20px ; */
        background-position: top;
        margin: 20px 20px;
        background-size: 100%;
        text-align: center;
        padding: 0;
    }

    .banner-img img {
        padding: 40px 20px;
        width: 85%;
        /* height: 50%; */
    }

    .banner-title {
        font-size: 1.60rem;

    }

    .sponsor-img {
        flex-direction: column;
        /* width: 100%; */
        margin: 50px 20px;
        align-items: center;
        gap: 30px;
    }

    .sponsor-img img {
        width: 50%;
        /* padding: 0px;
        margin: 0; */
    }

    .popular{
        margin-bottom: 30px;
    }

    .popular-container {
        margin: 20px;
        grid-template-columns: 1fr;
    }


    .seemore {
        margin-right: 20px;
    }

    .feature{
        flex-direction: column-reverse;
        margin: 0 20px 20px 20px;
        text-align: center;
        gap: 20px;
    }

    .feature-img img {
        width: 100%;
    }


}


/* Responsive for medium device */

@media screen and (min-width: 576px) and (max-width: 996px) {

    nav {
        margin: 60px 3rem;
    }

    nav li {
        margin-left: 1.1rem;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-position: top;
        padding: 0;
        margin: auto 3rem;
        text-align: center;
    }

    .banner-img img {
        padding: 40px 20px;
        width: 85%;
        /* height: 50%; */
    }

    .sponsor {
        margin: 50px 50px;
        /* width: 100%; */
    }

    .sponsor-img {
        align-items: center;
        gap: 1.25rem;
        margin: 0;   
    }

    .sponsor-img img {
        width: 13%;
    }

    .popular{
        margin-bottom: 50px;
    }

    .popular-container{
        margin: 50px;
    }

    .seemore {
        margin-right: 50px;
    }

    .feature{
        flex-direction: column-reverse;
        margin: 0 50px 50px 50px;
        text-align: center;
        gap: 50px;
    }

}