/* shared items */

*{
    margin: 0;
    
        font-family: "Poppins", serif;
        
}





/* for header section styles */

nav{
    display: flex;
    justify-content: space-between;
    margin: 80px 120px;
}

.nav-title{
    font-size: 1.5rem;
    color: #3A3A3A;
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-left: 1.9rem;

}
nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600
}

/* banner styles */

.banner-container{
    display: flex;
    align-items: center;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right, bottom;
    margin: 0 120px;
    padding: 30px 20px;
    /* height: 475px; */
}

.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-description{
    color: #3A3A3A ;
    margin: 20px 0;
}

.btn-primary{
    background-color: #E02C6D;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    border-radius: 50px;
}


/* Responsive for small device */

@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        margin:  0;
        text-align: center;
        margin-bottom: 30px;
    }
    .nav-title {
        margin: 50px 0 20px 0;
        /* font-size: 1.74rem; */
    }

    nav> ul{
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    nav li{
        margin: 0;
    }

    .banner-container{
        flex-direction: column-reverse;
        /* background-image: none; */
        /* padding: 0 20px ; */
        background-position: top;
        margin: 20px 20px;
        background-size: 100%;
        text-align: center;
        padding: 0;
    }

    .banner-img img{
        padding: 40px 20px;
        width: 85%;
        /* height: 50%; */
    }

    .banner-title{
        font-size: 1.60rem;
        
    }
    
}


/* Responsive for medium device */

@media screen and (min-width: 576px) and (max-width: 996px) {
    .banner-container{
        flex-direction: column-reverse;
        background-position: top;
        padding: 0;
    }
    .banner-img img{
        padding: 40px 20px;
        width: 85%;
        /* height: 50%; */
    }
}